practica4/Practica4.1/bpelContent/vueloIberiaArtifacts.wsdl

<?xml version="1.0"?>
<definitions name="vueloIberia" targetNamespace="http://vueloIberia"
	xmlns:tns="http://vueloIberia" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		TYPE DEFINITION - List of types participating in this BPEL process The BPEL 
		Designer will generate default request and response types but you can define 
		or import any XML Schema type and use them as part of the message types. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<types>
		<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://vueloIberia" xmlns="http://www.w3.org/2001/XMLSchema">

			<element name="vueloIberiaRequest">
				<complexType>
					<sequence>
						<element name="origen" type="string" />
						<element name="destino" type="string"></element>
						<element name="salida" type="date"></element>
						<element name="llegada" type="date"></element>
						<element name="clase" type="tns:ClaseVuelo"></element>
					</sequence>
				</complexType>
			</element>

			<element name="vueloIberiaResponse">
				<complexType>
					<sequence>
						<element name="ID_Vuelo" type="string" />
						<element name="TipoBillete" type="tns:ClaseVuelo"></element>
						<element name="HoraSalida" type="date"></element>
						<element name="HoraLlegada" type="date"></element>
						<element name="PrecioIberia" type="double"></element>
					</sequence>
				</complexType>
			</element>



			<simpleType name="ClaseVuelo">
				<restriction base="string"></restriction>
			</simpleType>
		</schema>
	</types>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		MESSAGE TYPE DEFINITION - Definition of the message types used as part of 
		the port type defintions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<message name="vueloIberiaRequestMessage">
		<part name="payload" element="tns:vueloIberiaRequest" />
	</message>
	<message name="vueloIberiaResponseMessage">
		<part name="payload" element="tns:vueloIberiaResponse" />
	</message>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PORT TYPE DEFINITION - A port type groups a set of operations into a logical 
		service unit. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- portType implemented by the vueloIberia BPEL process -->
	<portType name="vueloIberia">
		<operation name="process">
			<input message="tns:vueloIberiaRequestMessage" />
			<output message="tns:vueloIberiaResponseMessage" />
		</operation>
	</portType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PARTNER LINK TYPE DEFINITION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="vueloIberia">
		<plnk:role name="vueloIberiaProvider" portType="tns:vueloIberia" />
	</plnk:partnerLinkType>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		BINDING DEFINITION - Defines the message format and protocol details for 
		a web service. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<binding name="vueloIberiaBinding" type="tns:vueloIberia">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="process">
			<soap:operation soapAction="http://vueloIberia/process" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		SERVICE DEFINITION - A service groups a set of ports into a service unit. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<service name="vueloIberiaService">
		<port name="vueloIberiaPort" binding="tns:vueloIberiaBinding">
			<soap:address location="http://localhost:8080/ode/processes/vueloIberia" />
		</port>
	</service>
</definitions>